p, a, h1, h2, h3, h4, h5, li, span, i {
  -webkit-font-smoothing: antialiased; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  select {
    background: #fff !important; }

  .table {
    border-collapse: collapse !important; }

  td,
  th {
    background-color: #fff !important; } }
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1023px; } }
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0; } }
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.centered {
  text-align: center; }

.righted {
  text-align: right; }

.lefted {
  text-align: left; }

.mobile {
  display: none; }

@media only screen and (max-width: 767px) {
  .mobile {
    display: block; }

  .no-mobile {
    display: none; } }
.nav-main {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 90;
  background: rgba(36, 36, 36, 0.95);
  overflow: hidden; }
  .nav-main ul {
    padding: 95px 0 0 0;
    margin: 0;
    list-style-type: none;
    text-align: center; }
    .nav-main ul li {
      margin-bottom: 18px;
      font-size: 1.8em; }
      .nav-main ul li a {
        color: white;
        -webkit-transition: all 250ms;
        -moz-transition: all 250ms;
        -o-transition: all 250ms;
        transition: all 250ms; }
        .nav-main ul li a:hover {
          color: #3fa9f5; }
    .nav-main ul li.nav-proyect {
      font-size: 1.2em;
      margin-bottom: 12px; }
      .nav-main ul li.nav-proyect a {
        color: #999999; }
        .nav-main ul li.nav-proyect a:hover {
          color: #3fa9f5; }
    .nav-main ul li.nav-proyect.last {
      margin-bottom: 18px; }

.nav-visible .nav-main {
  transform: translateY(0);
  overflow: auto; }

.nav-visible .nav-btn:hover .nav-hover {
  background-color: #3fa9f5; }

.morphext > span {
  display: none; }

.morphext > .animated {
  display: inline-block; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

body {
  overflow: hidden; }

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #242424;
  z-index: 99999; }

#preloader-status {
  width: 200px;
  height: 110px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -55px 0 0 -100px; }
  #preloader-status .logo {
    width: 146px;
    display: block;
    margin: 0 auto 20px auto; }
    #preloader-status .logo img {
      width: 100%;
      height: auto; }
  #preloader-status span {
    display: block;
    width: 46px;
    height: 46px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url(../img/spinner.gif); }

* {
  box-sizing: border-box; }

p, a, li, h1, h2, h3, h4, input, textarea {
  -webkit-font-smoothing: antialiased; }

a {
  color: #242424;
  text-decoration: none;
  cursor: pointer; }

body {
  font-size: 100%;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  color: #242424;
  background: #242424;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  line-height: 1.3;
  position: relative;
  overflow-x: hidden; }

.body-wrapper {
  overflow: hidden; }

header {
  width: 100%;
  padding: 10px 0 0 0;
  display: block;
  position: absolute;
  top: 0;
  z-index: 100;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms; }
  header.header-fixed {
    position: fixed;
    top: -100px;
    padding: 0;
    opacity: 0;
    background: rgba(63, 169, 245, 0.9);
    z-index: 99; }
    header.header-fixed.visible {
      opacity: 1;
      top: 0; }
  header .header-logo {
    width: 120px;
    height: 30px;
    float: left;
    display: inline-block;
    position: relative;
    top: 25px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms; }

.title {
  font-size: 5em;
  color: #242424;
  font-weight: bold;
  margin: 0 0 40px 0;
  line-height: 1;
  letter-spacing: -0.025em; }
  .title span {
    display: block;
    position: relative; }

.nav-btn {
  width: 80px;
  height: 80px;
  display: inline-block;
  color: white;
  float: right;
  background: none;
  border: 0;
  font-size: 3em;
  outline: 0;
  text-align: center;
  position: relative;
  border-radius: 35px;
  translate3d: 0, 0, 0;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms; }
  .nav-btn .nav-hover {
    position: absolute;
    width: 80px;
    height: 80px;
    display: block;
    transform: scale(2);
    background-color: transparent;
    z-index: -1;
    border-radius: 40px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms; }
  .nav-btn:hover .nav-hover {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.2); }
  .nav-btn i {
    position: relative;
    top: 3px;
    z-index: 2; }
  .nav-btn .nav-btn-inner {
    display: inline-block;
    position: absolute;
    left: 24px;
    top: 30px; }
  .nav-btn span {
    width: 32px;
    height: 3px;
    display: inline-block;
    position: absolute;
    background-color: white; }
  .nav-btn .nav-btn-1 {
    top: 0px;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms; }
  .nav-btn .nav-btn-2 {
    top: 9px;
    opacity: 100;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms; }
  .nav-btn .nav-btn-3 {
    top: 18px;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms; }

.nav-visible .nav-btn-1 {
  transform: rotate(45deg);
  top: 10px; }
.nav-visible .nav-btn-2 {
  opacity: 0; }
.nav-visible .nav-btn-3 {
  transform: rotate(-45deg);
  top: 10px; }
.nav-visible .header-fixed {
  background-color: transparent; }

.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 44px;
  line-height: 44px; }
  .btn.btn-main {
    color: #3fa9f5;
    background-color: white;
    padding: 0px 20px;
    font-weight: 500;
    background-clip: padding-box;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms; }
    .btn.btn-main i {
      margin-left: 5px; }
    .btn.btn-main:hover {
      padding: 0px 30px; }
  .btn.btn-proyects {
    border: 4px solid #3fa9f5;
    color: #3fa9f5;
    font-size: 1.35em;
    height: auto;
    line-height: auto;
    padding: 0px 20px;
    text-transform: lowercase;
    font-weight: bold;
    background: white url(../img/line-pattern-btn.png) repeat;
    margin-top: 20px;
    margin-bottom: 40px;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .btn.btn-proyects {
        background-image: url(../img/line-pattern-btn@2x.png);
        background-size: 30px 22px; } }
    .btn.btn-proyects:hover {
      color: white;
      background: #3fa9f5; }

.intro-1 {
  display: block;
  background: #3fa9f5;
  background-size: cover;
  position: relative;
  z-index: 4; }

.intro-main {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 150px;
  text-align: center; }
  @media only screen and (max-height: 450px) {
    .intro-main {
      padding-top: 110px; } }
  .intro-main .intro-logo {
    width: 270px;
    height: auto;
    margin: 0 auto 50px auto;
    display: block;
    padding: 30px 0 50px 0; }
    @media only screen and (max-height: 640px) {
      .intro-main .intro-logo {
        padding: 0; } }
  .intro-main p {
    max-width: 600px;
    font-size: 1.3em;
    color: white;
    margin: 0 auto 10px auto;
    padding: 0 40px; }
    .intro-main p img {
      display: block;
      width: 50px;
      height: auto;
      margin: 0 auto;
      padding: 20px 0; }

.intro-btn-container {
  width: 100%;
  position: absolute;
  bottom: 5%; }
  .intro-btn-container .btn {
    color: #3fa9f5; }
    .intro-btn-container .btn:hover {
      transform: scale(1.1); }

.intro-more {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms; }
  .intro-more p {
    display: block;
    font-size: 1em;
    text-align: center;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms; }
    .intro-more p i {
      position: relative;
      top: 1px;
      margin-right: 8px; }
  .intro-more:hover {
    background: rgba(25, 147, 190, 0.7);
    padding: 24px 0; }
    .intro-more:hover p {
      transform: scale(1.1); }

.intro-2 {
  display: block;
  position: relative;
  z-index: -1; }

.intro-2-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background: url(../img/intro-2-bg.jpg);
  background-size: cover;
  z-index: -1; }

.intro-2-bgvideo {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: block;
  background: url(../img/intro-2-bg.jpg);
  background-size: cover;
  z-index: -1; }
  @media only screen and (max-width: 767px) {
    .intro-2-bgvideo {
      background-image: url(../img/intro-2-bg-mobile.jpg); }
      .intro-2-bgvideo video {
        display: none; } }

.intro-2-msg {
  position: relative;
  z-index: 1; }
  .intro-2-msg p {
    font-size: 2.1em;
    font-weight: bold; }
    .intro-2-msg p strong {
      color: #3fa9f5; }
  .intro-2-msg .part-1 {
    padding: 70px 0 300px 0;
    margin-bottom: 40px; }
    .intro-2-msg .part-1 .col-1, .intro-2-msg .part-1 .col-2 {
      display: inline-block;
      float: left;
      width: 50%; }
    .intro-2-msg .part-1 .col-1 p {
      text-align: right; }
    .intro-2-msg .part-1 .col-2 p {
      text-align: left; }
    .intro-2-msg .part-1 p {
      color: white;
      margin: 0;
      text-align: center; }
      .intro-2-msg .part-1 p strong {
        color: #3fa9f5; }
  .intro-2-msg .part-2 {
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0.95); }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.clear-1 {
  width: 100%;
  height: 900px;
  clear: both; }

.mundo {
  padding-top: 140px !important; }

.mundo, .aboutus {
  position: relative;
  padding: 60px 0 80px 0;
  z-index: 2;
  overflow: hidden;
  background-color: white;
  margin-top: 200px; }
  .mundo .title, .aboutus .title {
    margin: 0; }
  .mundo p, .aboutus p {
    font-size: 1em; }
  .mundo .container, .aboutus .container {
    position: relative; }
  .mundo .title-alt, .aboutus .title-alt {
    font-size: 5em;
    color: #b3ddfb;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.025em;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    margin: 0; }

.subtitle-highlight {
  width: 200px;
  position: relative;
  margin-bottom: 70px; }
  .subtitle-highlight .main-text {
    font-size: 1.6em;
    line-height: 1;
    margin: 0;
    font-weight: bold;
    text-decoration: underline; }
  .subtitle-highlight .extra-text {
    font-size: 1.3em;
    font-family: "Vollkorn", "Helvetica Neue", Helvetica, sans-serif; }
  .subtitle-highlight .decoration {
    display: block;
    width: 30%;
    height: 8px;
    background: #3fa9f5;
    margin: 0 0 10px 0; }

.points-container {
  max-width: 767px;
  margin: 80px auto 0 auto; }
  .points-container #mundo-parallax-2 {
    margin-bottom: 110px; }
  .points-container .pov {
    width: 100%;
    padding: 34px 20px 30px 20px;
    border: 3px solid black;
    border-left: 0px;
    display: inline-block;
    position: absolute;
    left: -66%; }
    .points-container .pov p {
      float: right;
      font-size: 1.8em;
      text-transform: lowercase;
      font-weight: bold;
      text-align: center;
      margin: 0 25px 0 100px;
      line-height: 1.2;
      letter-spacing: -0.02em; }

.point {
  width: 290px;
  float: left;
  clear: both;
  position: relative;
  z-index: 2; }
  .point .number {
    font-size: 4.3em;
    margin: 0;
    font-weight: bold;
    margin: 0;
    line-height: 65px; }
  .point .subtitle {
    font-size: 1.4em;
    margin: 0;
    font-weight: bold; }
  .point .text {
    font-size: 1.3em;
    font-family: "Vollkorn", "Helvetica Neue", Helvetica, sans-serif;
    margin: 5px 0 0 0; }
  .point.alt {
    float: right;
    clear: both; }

.aboutus {
  margin-top: 0; }
  .aboutus .subtitle-highlight {
    width: 250px; }
  .aboutus .clients {
    width: 100%;
    height: auto; }

.proyects {
  background-color: white; }
  .proyects .featured-title {
    width: 100%;
    height: 700px;
    background: white url(../img/line-pattern.png) repeat;
    overflow: hidden;
    position: relative; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .proyects .featured-title {
        background-image: url(../img/line-pattern.png);
        background-size: 19px 15px; } }
    .proyects .featured-title .title-container {
      background-color: white;
      padding: 40px;
      display: inline-block;
      position: relative;
      margin-top: 70px;
      left: -10%; }
      @media only screen and (max-width: 1400px) {
        .proyects .featured-title .title-container {
          left: -5%; } }
      @media only screen and (max-width: 1280px) {
        .proyects .featured-title .title-container {
          left: auto; } }
      .proyects .featured-title .title-container .title {
        margin-bottom: 14px; }
      .proyects .featured-title .title-container .decoration {
        display: block;
        width: 85px;
        height: 10px;
        background: #3fa9f5;
        margin: 0 0 10px 0; }
    .proyects .featured-title .diagonal {
      height: 200px;
      position: absolute;
      bottom: 0; }
      @media only screen and (max-width: 1280px) {
        .proyects .featured-title .diagonal {
          height: 150px; } }

.proyect {
  position: relative;
  margin-top: 300px; }
  .proyect .title {
    margin: 0 0 15px 0;
    position: relative;
    z-index: 5; }
    .proyect .title .decoration {
      width: 80px;
      display: inline-block;
      position: relative;
      top: -15px; }
  .proyect .slick-slide img {
    width: 100%; }
  .proyect .proyect-decoration {
    position: absolute;
    top: 0;
    z-index: 0; }
  .proyect .pattern-decoration {
    display: inline-block;
    background: transparent url(../img/x-pattern.png) repeat; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .proyect .pattern-decoration {
        background-image: url(../img/x-pattern@2x.png);
        background-size: 7px 7px; } }
  .proyect .subtitle-highlight {
    width: auto;
    z-index: 5;
    opacity: 1;
    right: auto;
    left: auto;
    position: relative; }
    .proyect .subtitle-highlight .main-text {
      max-width: 200px; }
    .proyect .subtitle-highlight .client strong {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif; }
  .proyect .col-sm-5 {
    padding-left: 20px; }
  .proyect.proyect-1 {
    margin-top: 0; }
    .proyect.proyect-1 .title {
      left: -90px;
      margin-bottom: 50px; }
      @media only screen and (max-width: 1240px) {
        .proyect.proyect-1 .title {
          left: -20px; } }
      @media only screen and (max-width: 820px) {
        .proyect.proyect-1 .title {
          left: 0; } }
    .proyect.proyect-1 .proyect-decoration {
      left: 12%; }
      .proyect.proyect-1 .proyect-decoration .pattern-decoration {
        width: 200px;
        height: 200px;
        border-radius: 100px; }
    .proyect.proyect-1 .video-container video {
      width: 100%; }
    .proyect.proyect-1 .parallax-container {
      position: relative; }
  .proyect.proyect-2 .title {
    text-align: right;
    top: 40px;
    margin-bottom: 160px; }
  .proyect.proyect-2 .proyect-decoration {
    right: -15%;
    z-index: 0; }
  .proyect.proyect-2 .pattern-decoration {
    width: 300px;
    height: 150px; }
  .proyect.proyect-2 .video-container {
    width: 100%; }
    .proyect.proyect-2 .video-container video {
      width: 100%; }
  .proyect.proyect-2 .btn-proyects {
    position: relative;
    right: -205px;
    top: -200px; }
    @media only screen and (max-width: 1200px) {
      .proyect.proyect-2 .btn-proyects {
        right: -190px; } }
    @media only screen and (max-width: 991px) {
      .proyect.proyect-2 .btn-proyects {
        right: auto;
        top: auto; } }
  .proyect.proyect-3 {
    padding-top: 0px;
    margin-bottom: 50px; }
    .proyect.proyect-3 .title {
      left: -90px;
      margin-bottom: 80px; }
      @media only screen and (max-width: 1240px) {
        .proyect.proyect-3 .title {
          left: -20px; } }
      @media only screen and (max-width: 820px) {
        .proyect.proyect-3 .title {
          left: 0; } }
      .proyect.proyect-3 .title .decoration {
        position: relative;
        top: 10px;
        left: -50px; }
    .proyect.proyect-3 .proyect-decoration {
      left: -7%; }
      .proyect.proyect-3 .proyect-decoration .pattern-decoration {
        width: 170px;
        height: 170px;
        border-radius: 85px; }
    .proyect.proyect-3 .subtitle-highlight {
      margin-bottom: 40px; }
      .proyect.proyect-3 .subtitle-highlight .extra-text, .proyect.proyect-3 .subtitle-highlight .righted {
        position: relative;
        left: 35%; }
        @media only screen and (max-width: 991px) {
          .proyect.proyect-3 .subtitle-highlight .extra-text, .proyect.proyect-3 .subtitle-highlight .righted {
            left: 16%; } }
        @media only screen and (max-width: 767px) {
          .proyect.proyect-3 .subtitle-highlight .extra-text, .proyect.proyect-3 .subtitle-highlight .righted {
            left: auto; } }
    @media only screen and (max-width: 767px) {
      .proyect.proyect-3 .righted {
        text-align: center; } }
    .proyect.proyect-3 .video-container {
      width: 340px;
      height: 746px;
      background: url(../img/work/3-bg.jpg);
      float: right;
      z-index: 2;
      overflow: hidden; }
      @media only screen and (max-width: 767px) {
        .proyect.proyect-3 .video-container {
          float: none;
          margin: 0 auto;
          position: relative;
          left: -7px; } }
      .proyect.proyect-3 .video-container video {
        width: 295px;
        /* height: 540px */
        left: 29px;
        top: 100px;
        position: relative; }
  .proyect.proyect-4 .title {
    margin-bottom: 40px;
    text-align: right; }
  .proyect.proyect-4 .proyect-decoration {
    right: -75px; }
    .proyect.proyect-4 .proyect-decoration .pattern-decoration {
      width: 190px;
      height: 190px; }
  .proyect.proyect-4 .subtitle-highlight .decoration {
    float: right;
    clear: both; }
  .proyect.proyect-4 .subtitle-highlight .main-text {
    float: right;
    display: block;
    clear: both;
    margin-bottom: 20px;
    text-align: right; }
  .proyect.proyect-4 .subtitle-highlight .extra-text {
    clear: both; }
  .proyect.proyect-4 .parallax-container {
    position: relative;
    min-height: 630px; }
    .proyect.proyect-4 .parallax-container .video-container {
      width: 400px;
      float: right;
      position: relative;
      right: 20px;
      z-index: 2; }
      .proyect.proyect-4 .parallax-container .video-container video {
        width: 100%; }
    .proyect.proyect-4 .parallax-container #proyects-parallax-4-3, .proyect.proyect-4 .parallax-container #proyects-parallax-4-4 {
      position: absolute;
      bottom: 0; }
    .proyect.proyect-4 .parallax-container #proyects-parallax-4-3 {
      z-index: 1; }
    .proyect.proyect-4 .parallax-container #proyects-parallax-4-4 {
      z-index: 0; }
  .proyect.proyect-4 .btn-proyects {
    margin-top: 80px; }
  .proyect.proyect-5 .title {
    margin-bottom: 60px; }
  .proyect.proyect-5 .proyect-decoration {
    left: 14%; }
    .proyect.proyect-5 .proyect-decoration .pattern-decoration {
      width: 200px;
      height: 200px;
      border-radius: 100px; }
  .proyect.proyect-5 .parallax-container {
    position: relative;
    padding-top: 30px; }
  .proyect.proyect-5 #proyects-parallax-5-3 {
    position: absolute;
    right: 80px;
    top: -250px;
    width: 250px;
    height: auto; }
  .proyect.proyect-5 #proyects-parallax-5-4 {
    position: relative;
    width: 100%;
    height: auto; }
  .proyect.proyect-6 .title {
    margin-bottom: 40px;
    text-align: right; }
  .proyect.proyect-6 .proyect-decoration {
    right: -75px; }
    .proyect.proyect-6 .proyect-decoration .pattern-decoration {
      width: 190px;
      height: 190px; }
  .proyect.proyect-6 .subtitle-highlight .decoration {
    float: right;
    clear: both; }
  .proyect.proyect-6 .subtitle-highlight .main-text {
    float: right;
    display: block;
    clear: both;
    margin-bottom: 20px;
    text-align: right; }
  .proyect.proyect-6 .subtitle-highlight .extra-text {
    clear: both; }
  .proyect.proyect-6 .parallax-container {
    position: relative;
    margin-right: 20px; }
    .proyect.proyect-6 .parallax-container #proyects-parallax-6-3 {
      width: 100%;
      height: auto; }
    .proyect.proyect-6 .parallax-container #proyects-parallax-6-4 {
      width: 55%;
      position: absolute;
      right: -30px;
      bottom: -60px; }
  .proyect.proyect-7 .title {
    left: -90px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 1240px) {
      .proyect.proyect-7 .title {
        left: -20px; } }
    @media only screen and (max-width: 820px) {
      .proyect.proyect-7 .title {
        left: 0; } }
  .proyect.proyect-7 .video-col {
    margin-top: 200px; }
  .proyect.proyect-7 .subtitle-highlight .extra-text {
    padding-left: 20px; }

#proyects-parallax-2-3, #proyects-parallax-2-4, #proyects-parallax-2-5 {
  display: inline-block;
  position: relative; }

#proyects-parallax-2-3 {
  left: 20px; }

#proyects-parallax-2-4 {
  float: right;
  right: 20px; }

#proyects-parallax-2-5 {
  left: 22%;
  top: -30px; }

.contact {
  padding-top: 100px;
  background: white; }

.contact-title {
  padding: 44px 40px 40px 40px;
  border: 2px solid black;
  border-left: 0px;
  display: inline-block; }
  .contact-title .title {
    font-size: 3em;
    text-transform: uppercase;
    margin: 0 0 0 100px; }

.contact-container {
  width: 600px;
  margin: 0 auto;
  position: relative;
  padding-top: 250px; }
  .contact-container .subtitle-highlight {
    display: block;
    width: auto; }
    .contact-container .subtitle-highlight .decoration {
      width: 70px; }
    .contact-container .subtitle-highlight a {
      -webkit-transition: all 250ms;
      -moz-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms; }
      .contact-container .subtitle-highlight a:hover {
        color: #3fa9f5; }

#contact-parallax-1 {
  float: none; }

#contact-parallax-2 {
  float: right; }

#contact-parallax-3 {
  width: 200px;
  position: absolute;
  top: 0px;
  right: 100px; }

footer {
  background-color: white;
  padding-top: 200px; }
  footer p {
    margin: 0;
    font-size: 0.9em;
    font-family: "Vollkorn", "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    padding: 0 30px 15px 30px; }
  footer .decoration {
    width: 100%;
    height: 50px;
    display: block;
    background: url(../img/line-pattern.png) repeat; }
