@charset "UTF-8"

@import 'components/variables-mixins'
@import 'components/normalize'
@import 'components/grid'
@import 'components/utilities'
@import 'components/menu'
@import 'components/morphext'
@import 'components/slick'
@import 'components/preloader'

* 
	box-sizing: border-box


p, a, li, h1, h2, h3, h4, input, textarea
	-webkit-font-smoothing: antialiased

a
	color: $darkgray
	text-decoration: none
	cursor: pointer

body 
	font-size: 100%
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif
	color: $darkgray
	background: $darkgray
	background-size: cover
	-webkit-font-smoothing: antialiased
	font-size: 100%
	line-height: 1.3
	position: relative
	overflow-x: hidden

header
	width: 100%
	padding: 10px 0 0 0 
	display: block
	position: absolute
	top: 0
	z-index: 100
	@include hover-slow

	&.header-fixed
		position: fixed
		top: -100px
		padding: 0
		//background-color: rgba(0,0,0,0.25)
		opacity: 0
		//background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)
		background: rgba(63,169,245,0.9)
		z-index: 99

		&.visible
			opacity: 1
			top: 0


	.header-logo
		width: 120px
		height: 30px
		float: left
		display: inline-block
		position: relative
		top: 25px
		@include hover-slow

.title
	font-size: 5em
	color: $darkgray
	font-weight: bold
	margin: 0 0 40px 0
	line-height: 1
	letter-spacing: -0.025em

	span
		display: block
		position: relative


.nav-btn
	width: 80px
	height: 80px
	display: inline-block
	color: white
	float: right
	background: none
	border: 0
	font-size: 3em
	outline: 0
	text-align: center
	position: relative
	border-radius: 35px
	translate3d: (0,0,0)
	@include hover-slow
	
	.nav-hover
		position: absolute
		width: 80px
		height: 80px
		display: block
		transform: scale(2)
		background-color: transparent
		z-index: -1
		border-radius: 40px
		@include hover-slow

	&:hover
		.nav-hover
			transform: scale(1)
			background-color: rgba(0,0,0,0.2)


	i
		position: relative
		top: 3px
		z-index: 2
	
	.nav-btn-inner
		display: inline-block
		position: absolute
		left: 24px
		top: 30px

	span
		width: 32px
		height: 3px
		display: inline-block
		position: absolute
		background-color: white

	.nav-btn-1
		top: 0px
		@include hover
	.nav-btn-2
		top: 9px
		opacity: 100
		@include hover
	.nav-btn-3
		top: 18px
		@include hover

.nav-visible
	.nav-btn-1
		transform: rotate(45deg)
		top: 10px

	.nav-btn-2
		opacity: 0

	.nav-btn-3
		transform: rotate(-45deg)
		top: 10px

	.header-fixed
		background-color: transparent

.btn
	display: inline-block
	text-align: center
	cursor: pointer
	text-transform: uppercase
	height: 44px
	line-height: 44px

	&.btn-main
		color: $blue
		background-color: white
		padding: 0px 20px
		font-weight: 500
		background-clip: padding-box
		@include hover

		i
			margin-left: 5px

		&:hover
			padding: 0px 30px

	&.btn-proyects
		border: 4px solid $blue
		color: $blue
		font-size: 1.35em
		height: auto
		line-height: auto
		padding: 0px 20px
		text-transform: lowercase
		font-weight: bold
		background: white url(../img/line-pattern-btn.png) repeat
		margin-top: 20px
		margin-bottom: 40px
		@include hover

		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
			background-image: url(../img/line-pattern-btn@2x.png)
			background-size: 30px 22px

		&:hover
			color: white
			background: $blue


.intro-1
	display: block
	background: $blue
	background-size: cover
	position: relative
	z-index: 4

.intro-main
	width: 100%
	height: 100%
	position: relative
	padding-top: 150px
	text-align: center

	@media only screen and (max-height: 450px)
		padding-top: 110px
	
	.intro-logo
		width: 270px
		height: auto
		margin: 0 auto 50px auto
		display: block
		padding: 30px 0 50px 0

		@media only screen and (max-height: 640px)
			padding: 0



	p
		max-width: 600px
		font-size: 1.3em
		color: white
		margin: 0 auto 10px auto
		padding: 0 40px

		img
			display: block
			width: 50px
			height: auto
			margin: 0 auto
			padding: 20px 0

.intro-btn-container
	width: 100%
	position: absolute
	bottom: 5%

	.btn
		color: $blue
		

		&:hover
			transform: scale(1.1)

.intro-more
	width: 100%
	position: absolute
	bottom: 0
	padding: 20px 0
	background: rgba(0,0,0,0.20)
	@include hover-slow
	
	p
		display: block
		font-size: 1em
		text-align: center
		@include hover-slow

		i
			position: relative
			top: 1px
			margin-right: 8px

	&:hover
		background: rgba(25,147,190,0.70)
		padding: 24px 0

		p
			transform: scale(1.1)

.intro-2
	display: block
	position: relative
	z-index: -1

.intro-2-bg
	width: 100%
	height: 100%
	position: absolute
	display: block
	background: url(../img/intro-2-bg.jpg)
	background-size: cover
	z-index: -1

.intro-2-bgvideo
	width: 100%
	height: 100%
	position: fixed
	top: 0
	display: block
	background: url(../img/intro-2-bg.jpg)
	background-size: cover
	z-index: -1

	@media only screen and (max-width: 767px)
		background-image: url(../img/intro-2-bg-mobile.jpg)
		
		video
			display: none
		
.intro-2-msg
	position: relative
	z-index: 1

	p
		font-size: 2.1em

		strong
			color: $blue

	.part-1
		padding: 70px 0
		margin-bottom: 40px
		
		.col-1, .col-2
			display: inline-block
			float: left
			width: 50%

		.col-1 p
			text-align: right

		.col-2 p
			text-align: left
			

		p
			color: white
			margin: 0
			text-align: center

			strong
				color: $blue

	.part-2
		padding: 50px 0
		background-color: rgba(255,255,255,0.95)

.typed-cursor
	opacity: 1
	-webkit-animation: blink 0.7s infinite
	-moz-animation: blink 0.7s infinite
	animation: blink 0.7s infinite

@keyframes blink
	0%
		opacity: 1
	50%
		opacity: 0
	100%
		opacity: 1


@-webkit-keyframes blink
	0%
		opacity: 1
	50%
		opacity: 0

	100%
		opacity: 1

@-moz-keyframes blink
	0%
		opacity: 1
	50%
		opacity: 0
	100%
		opacity: 1

.clear-1
	width: 100%
	height: 900px
	clear: both

.mundo
	padding-top: 140px !important

.mundo, .aboutus
	position: relative
	padding: 60px 0 80px 0
	z-index: 2
	overflow: hidden
	background-color: white
	margin-top: 200px

	.title
		margin: 0

	p
		font-size: 1em

	.container
		position: relative

	.title-alt
		font-size: 5em
		color: lighten($blue,24)
		font-weight: bold
		line-height: 1
		letter-spacing: -0.025em
		position: absolute
		right: 0
		top: 0
		text-align: right
		margin: 0


.subtitle-highlight
	width: 200px
	position: relative
	margin-bottom: 70px

	.main-text
		font-size: 1.6em
		line-height: 1
		margin: 0
		font-weight: bold
		text-decoration: underline

	.extra-text
		font-size: 1.3em
		font-family: 'Vollkorn', 'Helvetica Neue', Helvetica, sans-serif


	.decoration
		display: block
		width: 30%
		height: 8px
		background: $blue
		margin: 0 0 10px 0

.points-container
	max-width: 767px
	margin: 80px auto 0 auto

.point
	width: 290px
	float: left
	clear: both
	position: relative
	z-index: 2

	.number
		font-size: 4.5em
		margin: 0
		font-weight: bold
		color: $blue
		position: relative
		top: -14px
		left: -5px

	.subtitle
		font-size: 1.4em
		margin: 0
		font-weight: bold

	.text
		font-size: 1.3em
		font-family: 'Vollkorn', 'Helvetica Neue', Helvetica, sans-serif

	&.alt
		float: right
		clear: both



.aboutus
	margin-top: 0

	.subtitle-highlight
		width: 250px

	.clients
		width: 100%
		height: auto


.proyects
	background-color: white

	.featured-title
		width: 100%
		height: 700px
		background: white url(../img/line-pattern.png) repeat
		overflow: hidden
		position: relative

		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
			background-image: url(../img/line-pattern.png)
			background-size: 19px 15px

		.title-container
			background-color: white
			padding: 40px
			display: inline-block
			position: relative
			margin-top: 70px
			left: -10%

			@media only screen and (max-width: 1400px)
				left: -5%

			@media only screen and (max-width: 1280px)
				left: auto

			.title
				margin-bottom: 14px

			.decoration
				display: block
				width: 85px
				height: 10px
				background: $blue
				margin: 0 0 10px 0

		.diagonal
			height: 200px
			position: absolute
			bottom: 0

			@media only screen and (max-width: 1280px)
				height: 150px


.proyect
	position: relative
	padding-top: 50px

	.title
		margin: 0 0 15px 0
		position: relative
		z-index: 5

		.decoration
			width: 80px
			display: inline-block
			position: relative
			top: -15px

	.slick-slide
		img
			width: 100%

	.subtitle-highlight
		width: auto
		z-index: 5
		opacity: 1
		right: auto
		left: auto
		position: relative

		.main-text
			max-width: 200px

		.client strong
			font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif

	.col-sm-5
		padding-left: 20px

	&.proyect-1
		.title
			left: -90px
			margin-bottom: 50px

			@media only screen and (max-width: 1240px)
				left: -20px

			@media only screen and (max-width: 820px)
				left: 0

		.proyect-decoration
			width: 220px
			position: absolute
			top: 0
			left: 12%
			z-index: 0

		.video-container
			video
				width: 100%

		.parallax-container
			position: relative

	&.proyect-2

		.title
			text-align: right
			top: 40px
			margin-bottom: 160px

		.proyect-decoration
			width: 300px
			position: absolute
			top: 0
			right: -15%
			z-index: 0

		.video-container
			width: 100%

			video
				width: 100%

		.btn-proyects
			position: relative
			right: -205px
			top: -200px

			@media only screen and (max-width: 1200px)
				right: -190px

			@media only screen and (max-width: 991px)
				right: auto
				top: auto

	&.proyect-3
		padding-top: 0px
		margin-bottom: 50px

		.title
			margin-bottom: 80px

		.proyect-decoration
			width: 220px
			position: absolute
			top: 0
			left: 12%
			z-index: 0

		.subtitle-highlight
			margin-bottom: 40px

			.extra-text, .righted
				position: relative
				left: 35%

				@media only screen and (max-width: 991px)
					left: 16%

				@media only screen and (max-width: 767px)
					left: auto

		
		@media only screen and (max-width: 767px)
			.righted
				text-align: center

		.video-container
			width: 340px
			height: 746px
			background: url(../img/work/3-bg.jpg)
			float: right
			z-index: 2
			overflow: hidden

			@media only screen and (max-width: 767px)
				float: none
				margin: 0 auto
				position: relative
				left: -7px

			video
				width: 295px
				/* height: 540px */
				left: 29px
				top: 100px
				position: relative

	&.proyect-4
		.title
			margin-bottom: 40px
			text-align: right

		.subtitle-highlight
			.decoration
				float: right
				clear: both

			.main-text
				float: right
				display: block
				clear: both
				margin-bottom: 20px
				text-align: right

			.extra-text
				clear: both

		.parallax-container
			position: relative
			min-height: 630px

			.video-container
				width: 400px
				float: right
				position: relative
				right: 20px
				top: 60px
				z-index: 2

				video
					width: 100%

			#proyects-parallax-4-3, #proyects-parallax-4-4
				position: absolute
				bottom: 0
			
			#proyects-parallax-4-3
				z-index: 1
			#proyects-parallax-4-4
				z-index: 0

	&.proyect-6
		.title
			margin-bottom: 40px
			text-align: right

		.subtitle-highlight
			.decoration
				float: right
				clear: both

			.main-text
				float: right
				display: block
				clear: both
				margin-bottom: 20px
				text-align: right

			.extra-text
				clear: both

		.parallax-container
			position: relative
			margin-right: 20px

			#proyects-parallax-6-3
				width: 100%
				height: auto

			#proyects-parallax-6-4
				width: 55%
				position: absolute
				right: -30px
				bottom: -60px

	&.proyect-7
		.title
			margin-bottom: 20px
		
		.video-col
			margin-top: 200px

		.subtitle-highlight
			.extra-text
				padding-left: 20px

#proyects-parallax-2-3, #proyects-parallax-2-4, #proyects-parallax-2-5
	display: inline-block
	position: relative

#proyects-parallax-2-3
	left: 20px

#proyects-parallax-2-4
	float: right
	right: 20px

#proyects-parallax-2-5
	left: 22%
	top: -30px


.contact
	padding-top: 100px
	background: white

.contact-title
	padding: 44px 40px 40px 40px
	border: 2px solid black
	display: inline-block

	.title
		font-size: 3em
		text-transform: uppercase
		margin: 0 0 0 100px

.contact-container
	width: 800px
	margin: 0 auto
