.nav-main {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 90;
  background: rgba(36,36,36,0.95);
  overflow: hidden;

  ul {
    padding: 95px 0 0 0;
    margin: 0;
    list-style-type: none;
    text-align: center;

    li {
      margin-bottom: 18px;
      font-size: 1.8em;

      @media only screen and (max-width: 460px) {
        font-size: 1.6em;
      }

      @media only screen and (max-width: 380px) {
        font-size: 1.4em;
      }

      a {
        color: white;
        @include hover;

        &:hover {
          color: $blue;
        }
      }
    }

    li.nav-proyect {
      font-size: 1.2em;
      margin-bottom: 12px;

      a {
        color: darken(white,40);

        &:hover {
          color: $blue;
        }
      }
    }

    li.nav-proyect.last {
      margin-bottom: 18px;
    }
  }
}
 
.nav-visible .nav-main {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  overflow: auto;
}

.nav-visible .nav-btn:hover .nav-hover {
  background-color: $blue;
}