body {
	overflow: hidden;
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#f3656a;
    z-index:99999;
}

#preloader-status {
    width:200px;
    height:110px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-55px 0 0 -100px;
    
    .logo {
        width: 146px;
        display: block;
        margin: 0 auto 20px auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    span {
        display: block;
        width: 46px;
        height: 46px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-image: url(../img/spinner.gif);
    }
}