.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.centered {
	text-align: center;
}
.righted {
	text-align: right;
}
.lefted {
	text-align: left;
}


.mobile {
	display: none;
}

@media only screen and (max-width: 767px) {
	.mobile {
		display: block;
	}

	.no-mobile {
		display: none;
	}
}
